*{
    padding: 0;
    margin: 0 auto;
}
@media screen and (max-width:480px) {
    .home{
        display: grid;
        height: 780px;
        border: red 1px solid;
    }


    .profile{
        display: grid;
        margin-top: 100px;
        height: 200px;
        background-color: black;
    }
    .profile h1{
        color: #fff;
    }
    .profile p{
        color: #fff;
    }

    .icon{
        position: relative;
        top: 125px;
        margin-left: 0;
        font-size: 2rem;
        font-family: serif;
        width: 150px;
        background-color: gray;
    }
    .content1{
        display: grid;
        grid-template-columns: 50% 50%;
        background-color: rgba(255, 174, 0, 0.5);
        margin-top: 100px;
        height: 500px;
        border: red 1px solid;
    }
    .img1{
        position: relative;
        top: 100px;
        height: 200px;
        width: 200px;
    }
    .img1-2{
        position: relative;
        top: 100px;
        height: 200px;
        width: 200px;
    }
    .text{
        font-family: serif;
        margin-left: 20px;
        margin-top: 30px;
    }
    
    .character{
        position: relative;
        top: 125px;
        margin-left: 0;
        font-size: 2rem;
        font-family: serif;
        width: 200px;
        background-color: gray;
    }
    .content2{
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 100px;
        height: 500px;
        border: red 1px solid;
    }
    .img2{
        position: relative;
        top: 100px;
        height: 200px;
        width: 200px;
    }
    .img2-2{
        position: relative;
        top: 100px;
        height: 200px;
        width: 200px;
    }

    .Additive{
        position: relative;
        top: 125px;
        margin-left: 0;
        font-size: 2rem;
        font-family: serif;
        width: 400px;
        background-color: gray;
    }
    .content3{
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 100px;
        height: 500px;
        border: red 1px solid;
    }
    .img3{
        position: relative;
        top: 100px;
        height: 200px;
        width: 200px;
    }
    .img3-2{
        position: relative;
        top: 100px;
        height: 200px;
        width: 200px;
    }
    .Animation{
        position: relative;
        top: 125px;
        margin-left: 0;
        font-size: 2rem;
        font-family: serif;
        width: 400px;
        background-color: gray;
    }
    .content4{
        display: grid;
        margin-top: 100px;
        height: 500px;
        border: red 1px solid;
    }
    .img4{
        position: relative;
        top: 100px;
        height: 250px;
        width: 250px;
    }
    .content4 .text{
        position: relative;
        top: 30px;
    }
    
    .Visible{
        position: relative;
        top: 125px;
        margin-left: 0;
        font-size: 2rem;
        font-family: serif;
        width: 400px;
        background-color: gray;
    }
    .content5{
        display: grid;
        margin-top: 100px;
        height: 500px;
        border: red 1px solid;
    }
    .img5{
        position: relative;
        top: 100px;
        height: 250px;
        width: 250px;
    }
}
@media screen and (max-width: 1280px) {
    
}
